
body {
    background: linear-gradient(105deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: helvetica;
}

container {
    display: flex;
    flex-direction: row;
}
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.checkbox{
    display: flex;
    flex-direction: row;
}

.boxButton{
    display: flex;
    flex-direction: column;
}

#addABook{
}

#library{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.libraryBook{
    width: 150px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 2.5px;
    position: relative;
    box-shadow: 5px 7px 7px rgba(0,0,0,0.1);
}


.bookTitle{
    color:pink;
    font-size: 22px;
    font-style: oblique;
}

.bookAuthor{
    font-size: 12px;
    font-style: italic;
}

.remove, .readButton{
    background: pink;
    font-size:10px;
    font-family: sans-serif;
    padding: 2px;
    position: absolute;
    bottom: 5px;
    border-radius: 1.5px;
}

.readButton{
    right: 10px;
}


.remove:hover, .readButton:hover {
    transform: scale(1.2);
    background:black;
    color: pink;
    cursor: pointer;
}
